MYSQL_ROOT_PASSWORD=

POSTGRES_USER=
POSTGRES_PASSWORD=

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=

# Imagen y versión del seeder ejecutado manualmente en esta MV.
SEED_IMAGE=empuiquin24/smokecast-seed
SEED_IMAGE_TAG=latest
